# Virtual Environment
venv/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables
.env

# VSCode
.vscode/

# JetBrains
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# MQTT temp files
*.db

# Python build
build/
dist/
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# Coverage
.coverage
htmlcov/
